.empty-state__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px;
}

.empty-state__icon {
  font-size: 60px;
  color: lightgrey;
}

.empty-state__message {
  color: gray;
  font-size: 12px;
}
