.book-details__container {
  display: flex;

  flex-direction: column;
}

.book-details__container span {
  color: darkslategrey;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 12px;
}

.book-details__container :last-child {
  border: none;
}
