.app__header {
  padding: 12px;
  display: flex;
  flex-grow: 1;
}

.app__company-title {
  margin-right: 12px;
}

.app__table-container {
  margin: 12px;
  border: 1px solid black;
}

.app__table-cell {
  display: flex;
  flex-direction: column;
}

.app__book-title {
  font-weight: bold;
}

.app__filter-container {
  display: flex;
  justify-content: space-between;
  margin: 0 12px;
}
