.modal__main {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal__main--display-block {
  display: block;
}

.modal__main--display-none {
  display: none;
}

.modal__container {
  background: white;
  width: 50%;
  height: 70%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px;
}

.modal__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 24px;
  padding: 0;
}

.modal__close-icon {
  position: absolute;
  top: -36px;
  right: 0;
  font-size: 24px;
  cursor: pointer;
  color: white;
  opacity: 0.3;
}
