.searchbar__container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
}

.searchbar__input-container {
  border: 1px solid black;
  display: flex;
  flex-grow: 1;
  padding: 12px;
  margin-right: 12px;
  align-items: center;
}

.searchbar__icon {
  margin-right: 12px;
  font-size: 24px;
}

.searchbar__input {
  height: 28px;
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  width: 100%;
}

.searchbar__button {
  outline: none;
  font-size: 20px;
  padding: 16px;
  background: white;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.searchbar__button:hover {
  background: black;
  color: white;
}

.searchbar__button:active {
  background: gray;
  color: white;
}
